# python
__pycache__/
*.py[cod]
*.so
*.dylib
*.pyd
.venv/
.env
.pytest_cache/
.mypy_cache/
.coverage
dist/
build/
*.egg-info/

# editors
.vscode/
.idea/

#working files
src/testing_data_input.ipynb
*.csv
*.npy
*.pkl

# mac
.DS_Store
